@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    background-color: #bfcfff;
    background-size: 100% auto;
}
#box{
    height: 510px;
    width: 300px;
    background-color: #ffffff;
    margin: 100px auto;
    border-radius: 15px;
    align-items: center;
    padding: 10px;
    display: flexbox;
}
.image{
    height: 300px;
    border-radius: 15px;
}
.text{
    font-size: 12px;
    padding: 10px;
    font-family: Lato;
    text-align: center;
    color: rgb(138, 138, 138);
    margin-top: -5px;
    font-weight: bold;
}
#title{
    color: rgb(58, 57, 57);
}
#paragraph{
    font-size: 15px;
}